* {
    margin: 0;
    padding: 0;
}

#main-frame {
    position: relative;
    margin: 1% auto;
    width: 340px;
    height: 400px;
    border: black solid 1px;
    border-radius: 30px;
    background: gainsboro;
}

#window-out {
    /*position: absolute;*/
    margin: 2% auto;
    width: 300px;
    height: 200px;
    border: black solid 1px;
    border-radius: 10px;
    background: aliceblue;
}

#window-out code {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#input-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}


#input-frame .btn {
    margin-top: 5px;
}

.btn {
    display: inline-block;
    border:1px solid #C9AE34;
    color: #6F706C;
    border-radius: 16px 3px 16px 3px;
    -webkit-border-radius: 16px 3px 16px 3px;
    -moz-border-radius: 16px 3px 16px 3px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 17px;
    padding: 7px 37px;
    box-shadow: inset -2px -2px 24px 24px #4AFF6E, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 4px 5px 8px 0 #D4D4D4;
    -moz-box-shadow: inset -2px -2px 24px 24px #4AFF6E, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 4px 5px 8px 0 #D4D4D4;
    -webkit-box-shadow: inset -2px -2px 24px 24px #4AFF6E, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 4px 5px 8px 0 #D4D4D4;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #4537FC;
}

.btn:hover, .btn:active {
    border: none;
    color: #705D07;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #FCDF5B;
}

#author{
    position: fixed;
    bottom: 5px;
    right: 2px;
}